
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Person</h1>

<f:flashMessages />

<table  class="tx_psprojects" >
	<tr>
		<th><f:translate key="tx_psprojects_domain_model_person.title" /></th>
		<th><f:translate key="tx_psprojects_domain_model_person.position" /></th>
		<th><f:translate key="tx_psprojects_domain_model_person.name" /></th>
		<th><f:translate key="tx_psprojects_domain_model_person.phone" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{persons}" as="person">
		<tr>
			<td><f:link.action action="show" arguments="{person : person}"> {person.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.position}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{person : person}"> {person.phone}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{person : person}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{person : person}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Person</f:link.action>
</f:section>