
<table class="tx-ps-projects" >
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_infotable.name" />
		</td>
		<td>
		{infoTable.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_infotable.value" />
		</td>
		<td>
		{infoTable.value}
		</td>
	</tr>
</table>