
<table class="tx-ps-projects" >
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_comment.name" />
		</td>
		<td>
		{comment.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_comment.image" />
		</td>
		<td>
				<f:image src="{comment.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_comment.function" />
		</td>
		<td>
		{comment.function}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_comment.text" />
		</td>
		<td>
		{comment.text}
		</td>
	</tr>
</table>