
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for InfoTable</h1>

<f:flashMessages />

<table  class="tx_psprojects" >
	<tr>
		<th><f:translate key="tx_psprojects_domain_model_infotable.name" /></th>
		<th><f:translate key="tx_psprojects_domain_model_infotable.value" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{infoTables}" as="infoTable">
		<tr>
			<td><f:link.action action="show" arguments="{infoTable : infoTable}"> {infoTable.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{infoTable : infoTable}"> {infoTable.value}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{infoTable : infoTable}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{infoTable : infoTable}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New InfoTable</f:link.action>
</f:section>