<f:layout name="Default" />
<f:section name="main">
    <div class="teaser-squares">
        <div class="row has-tiny-padding">
			<f:for each="{projects}" as="item">
				<div class="col-sm-4 col-xs-6">
					<f:link.action action="show" arguments="{item : item}" class="teaser-square teaser-square--has-hover">
						<f:image src="{item.image.uid}" class="full-width" alt="" treatIdAsReference="1" width="290" height="284"/>
						<div class="teaser-square__content teaser-square__hover">
							<span class="hidden-xs hidden-md subline">{item.category.title}</span>
							<h3>{item.title}</h3>
							<p class="hidden-xs hidden-md">{item.teasertext}</p>
						</div>
					</f:link.action>
				</div>
			</f:for>
        </div>
    </div>
	<div class="text-center">
		<a href="projekte.php" class="btn btn-primary">Zur Übersicht</a>
	</div>
	<p class="holder">Work</p>
</f:section>