
<table class="tx-ps-projects" >
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_person.title" />
		</td>
		<td>
		{person.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_person.position" />
		</td>
		<td>
		{person.position}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_person.name" />
		</td>
		<td>
		{person.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_person.phone" />
		</td>
		<td>
		{person.phone}
		</td>
	</tr>
</table>