
<table class="tx-ps-projects" >
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.title" />
		</td>
		<td>
		{project.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.flagheadline" />
		</td>
		<td>
		{project.flagheadline}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.flagtext" />
		</td>
		<td>
		{project.flagtext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.image" />
		</td>
		<td>
				<f:image src="{project.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.text" />
		</td>
		<td>
		{project.text}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.table1title" />
		</td>
		<td>
		{project.table1title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.table2title" />
		</td>
		<td>
		{project.table2title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.filestitle" />
		</td>
		<td>
		{project.filestitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.filestext" />
		</td>
		<td>
		{project.filestext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.files" />
		</td>
		<td>
				<a href="{project.files.originalResource.publicUrl}">
					{project.files.originalResource.name}
				</a>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.gallerytitle" />
		</td>
		<td>
		{project.gallerytitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.galleryimages" />
		</td>
		<td>
				<f:image src="{project.galleryimages.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_psprojects_domain_model_project.teasertext" />
		</td>
		<td>
		{project.teasertext}
		</td>
	</tr>
</table>