
<f:layout name="Default" />
<f:section name="main">
	<div class="content-block">
		<div class="row">
			<div class="col-md-12">
				<h2>Das sagen unsere Kunden</h2>
				<div class="row has-tiny-padding">
					<f:for each="{comments}" as="comment">
						<div class="col-xxs-12 col-xs-6 col-sm-4">
							<div class="image-block-item">
								<f:image src="{comment.image.uid}" class="full-width" alt="" treatIdAsReference="1"/>
								<div class="image-block-item__txt">
									<h4>{comment.function}</h4>
									<p>{comment.name}</p>  
									<p>{comment.text}</p>
								</div>
							</div>
						</div>
					</f:for>
				</div>
			</div>
		</div>
	</div>
</f:section>