
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Category</h1>

<f:flashMessages />

<table  class="tx_psprojects" >
	<tr>
		<th><f:translate key="tx_psprojects_domain_model_category.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{categories}" as="category">
		<tr>
			<td><f:link.action action="show" arguments="{category : category}"> {category.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{category : category}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{category : category}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Category</f:link.action>
</f:section>